<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href=" {{ asset('css/bootstrap.css') }}">
        <script src="{{ asset('js/libs/bootstrap.js') }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/libs/jquery-3.3.1.js') }}"></script>
        <script src="{{ asset('js/libs/popper-1.12.9.js') }}"></script>
    </body>
</html>
